---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- Published Section -->
<h2>Published</h2>
<hr />
{% for post in site.publications reversed %}
  {% if post.category == "conferences" %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}

<!-- Preprints Section -->
<h2>Preprints</h2>
<hr />
{% for post in site.publications reversed %}
  {% if post.category == "manuscripts" %}
    {% include archive-single.html type="grid" %}
  {% endif %}
{% endfor %}



