/* Style for publication items */
.archive__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.archive__item-teaser img {
  max-width: 50px; /* Adjust the width as needed */
  max-height: 50px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image maintains aspect ratio */
  margin-right: 15px; /* Adds spacing between the image and the title */
  float: left; /* Aligns the image to the left of the title */
}

.archive__item-content {
  flex: 1; /* Allow the content to take up the remaining space */
}

.archive__item-title {
  font-size: 1.2em;
  margin: 0;
}

.archive__item-meta,
.archive__item-links {
  font-size: 0.9em;
  color: #555;
  margin: 5px 0;
}

.archive__item-teaser {
  display: block;
}

.archive__item-content h2.archive__item-title a {
  text-decoration: none;
  color: inherit;
}

.archive__item-content p {
  font-style: italic;
}

